/#init.el#
/#recentf#
/.org-id-locations
/README.html
/README.html~
/README.org~
/auto-save-list/
/elpa/
/image-dired/
/init.el.old
/init.el~
/init2.el
/nov-places
/projectile-bookmarks.eld
/recentf
/recentf~
/thumbs/
/transient/
/elpy/
/#README.org#
/.emacs.desktop
/bookmarks
/ido.last
/ido.last~
/places
/smex-items
